openapi: 3.0.3
info:
  title: AuditSphere API
  description: |
    tRPC-based API for AuditSphere - SharePoint Security & Compliance Monitoring.

    This API uses tRPC over HTTP. All procedures are accessed via POST requests to `/trpc/{router}.{procedure}`.

    **Request Format:**
    ```json
    {
      "json": { /* input parameters */ }
    }
    ```

    **Response Format:**
    ```json
    {
      "result": {
        "data": {
          "json": { /* response data */ }
        }
      }
    }
    ```
  version: 1.0.0
  contact:
    name: AuditSphere Support
    email: support@auditsphere.app
  license:
    name: MIT

servers:
  - url: https://auditsphere-api-access.nubewired.com
    description: Production server
  - url: http://localhost:7071/api
    description: Local development

tags:
  - name: Access Review - Campaigns
    description: Create and manage access review campaigns
  - name: Access Review - Items
    description: Review items and decisions
  - name: Access Review - Schedules
    description: Scheduled/recurring reviews
  - name: Access Review - Owners
    description: Designated site owners
  - name: Access Review - Notifications
    description: Notification management
  - name: Access Review - Scheduler
    description: Background scheduler operations
  - name: Dashboard
    description: Dashboard and overview endpoints
  - name: Audit Events
    description: SharePoint audit log events
  - name: Anomalies
    description: Anomaly detection and management
  - name: Compliance
    description: Compliance checks and reporting
  - name: Alerts
    description: Alert management
  - name: Reports
    description: Report generation
  - name: Microsoft
    description: Microsoft Graph integration
  - name: Sites
    description: SharePoint sites management
  - name: Settings
    description: User and application settings

security:
  - BearerAuth: []

paths:
  # ==================== Access Review - Campaigns ====================
  /trpc/accessReview.listCampaigns:
    post:
      tags: [Access Review - Campaigns]
      summary: List campaigns
      description: List access review campaigns with pagination and optional status filter
      operationId: listCampaigns
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                json:
                  type: object
                  properties:
                    page:
                      type: integer
                      default: 1
                    limit:
                      type: integer
                      default: 20
                    status:
                      type: string
                      enum: [draft, collecting, in_review, completed, cancelled]
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignListResponse'

  /trpc/accessReview.getCampaign:
    post:
      tags: [Access Review - Campaigns]
      summary: Get campaign by ID
      operationId: getCampaign
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                json:
                  type: object
                  required: [id]
                  properties:
                    id:
                      type: string
                      format: uuid
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignResponse'

  /trpc/accessReview.createCampaign:
    post:
      tags: [Access Review - Campaigns]
      summary: Create a new campaign
      operationId: createCampaign
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                json:
                  type: object
                  required: [name, scope]
                  properties:
                    name:
                      type: string
                      minLength: 1
                    description:
                      type: string
                    scope:
                      $ref: '#/components/schemas/CampaignScope'
                    recurrence:
                      type: string
                    dueDate:
                      type: string
                      format: date-time
      responses:
        '200':
          description: Campaign created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignResponse'

  /trpc/accessReview.updateCampaign:
    post:
      tags: [Access Review - Campaigns]
      summary: Update campaign details
      operationId: updateCampaign
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                json:
                  type: object
                  required: [id]
                  properties:
                    id:
                      type: string
                      format: uuid
                    name:
                      type: string
                    description:
                      type: string
                    scope:
                      $ref: '#/components/schemas/CampaignScope'
                    dueDate:
                      type: string
                      format: date-time
                      nullable: true
                    recurrence:
                      type: string
                      nullable: true
      responses:
        '200':
          description: Campaign updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignResponse'

  /trpc/accessReview.deleteCampaign:
    post:
      tags: [Access Review - Campaigns]
      summary: Delete a campaign
      operationId: deleteCampaign
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                json:
                  type: object
                  required: [id]
                  properties:
                    id:
                      type: string
                      format: uuid
      responses:
        '200':
          description: Campaign deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /trpc/accessReview.startCampaign:
    post:
      tags: [Access Review - Campaigns]
      summary: Start a campaign
      description: Begins permission collection and transitions campaign to in_review status
      operationId: startCampaign
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                json:
                  type: object
                  required: [id]
                  properties:
                    id:
                      type: string
                      format: uuid
      responses:
        '200':
          description: Campaign started
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    properties:
                      data:
                        type: object
                        properties:
                          json:
                            type: object
                            properties:
                              success:
                                type: boolean
                              itemsCollected:
                                type: integer

  /trpc/accessReview.completeCampaign:
    post:
      tags: [Access Review - Campaigns]
      summary: Complete a campaign
      operationId: completeCampaign
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                json:
                  type: object
                  required: [id]
                  properties:
                    id:
                      type: string
                      format: uuid
      responses:
        '200':
          description: Campaign completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /trpc/accessReview.getCampaignStats:
    post:
      tags: [Access Review - Campaigns]
      summary: Get campaign statistics
      operationId: getCampaignStats
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                json:
                  type: object
                  required: [id]
                  properties:
                    id:
                      type: string
                      format: uuid
      responses:
        '200':
          description: Campaign statistics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignStatsResponse'

  /trpc/accessReview.getCampaignReport:
    post:
      tags: [Access Review - Campaigns]
      summary: Get detailed campaign report
      operationId: getCampaignReport
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                json:
                  type: object
                  required: [id]
                  properties:
                    id:
                      type: string
                      format: uuid
      responses:
        '200':
          description: Campaign report
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignReportResponse'

  /trpc/accessReview.sendCampaignReport:
    post:
      tags: [Access Review - Campaigns]
      summary: Send campaign report via email
      description: Sends an HTML email with PDF attachment to specified recipients
      operationId: sendCampaignReport
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                json:
                  type: object
                  required: [campaignId, recipientEmails]
                  properties:
                    campaignId:
                      type: string
                      format: uuid
                    recipientEmails:
                      type: array
                      items:
                        type: string
                        format: email
                    includeDetails:
                      type: boolean
                      default: true
      responses:
        '200':
          description: Report sent
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    properties:
                      data:
                        type: object
                        properties:
                          json:
                            type: object
                            properties:
                              success:
                                type: boolean
                              message:
                                type: string
                              recipientCount:
                                type: integer

  # ==================== Access Review - Items ====================
  /trpc/accessReview.listItems:
    post:
      tags: [Access Review - Items]
      summary: List review items
      operationId: listItems
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                json:
                  type: object
                  required: [campaignId]
                  properties:
                    campaignId:
                      type: string
                      format: uuid
                    page:
                      type: integer
                      default: 1
                    limit:
                      type: integer
                      default: 100
                    resourceType:
                      type: string
                    grantedToType:
                      type: string
                    decision:
                      type: string
                      enum: [pending, retain, remove]
      responses:
        '200':
          description: List of review items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemListResponse'

  /trpc/accessReview.getItem:
    post:
      tags: [Access Review - Items]
      summary: Get review item by ID
      operationId: getItem
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                json:
                  type: object
                  required: [id]
                  properties:
                    id:
                      type: string
                      format: uuid
      responses:
        '200':
          description: Review item details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemResponse'

  /trpc/accessReview.submitDecision:
    post:
      tags: [Access Review - Items]
      summary: Submit decision for an item
      operationId: submitDecision
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                json:
                  type: object
                  required: [itemId, decision]
                  properties:
                    itemId:
                      type: string
                      format: uuid
                    decision:
                      type: string
                      enum: [retain, remove]
                    justification:
                      type: string
      responses:
        '200':
          description: Decision submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DecisionResponse'

  /trpc/accessReview.bulkDecisions:
    post:
      tags: [Access Review - Items]
      summary: Submit multiple decisions
      operationId: bulkDecisions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                json:
                  type: object
                  required: [decisions]
                  properties:
                    decisions:
                      type: array
                      items:
                        type: object
                        required: [itemId, decision]
                        properties:
                          itemId:
                            type: string
                            format: uuid
                          decision:
                            type: string
                            enum: [retain, remove]
      responses:
        '200':
          description: Bulk decisions result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkResultResponse'

  /trpc/accessReview.bulkRetainAll:
    post:
      tags: [Access Review - Items]
      summary: Retain all pending items
      operationId: bulkRetainAll
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                json:
                  type: object
                  required: [campaignId]
                  properties:
                    campaignId:
                      type: string
                      format: uuid
      responses:
        '200':
          description: Bulk retain result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkResultResponse'

  /trpc/accessReview.executeCampaign:
    post:
      tags: [Access Review - Items]
      summary: Execute removal decisions
      description: Executes all pending remove decisions via Microsoft Graph API
      operationId: executeCampaign
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                json:
                  type: object
                  required: [id]
                  properties:
                    id:
                      type: string
                      format: uuid
      responses:
        '200':
          description: Execution result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkResultResponse'

  # ==================== Access Review - Schedules ====================
  /trpc/accessReview.listSchedules:
    post:
      tags: [Access Review - Schedules]
      summary: List scheduled reviews
      operationId: listSchedules
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                json:
                  type: object
      responses:
        '200':
          description: List of schedules
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleListResponse'

  /trpc/accessReview.createSchedule:
    post:
      tags: [Access Review - Schedules]
      summary: Create a scheduled review
      operationId: createSchedule
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                json:
                  type: object
                  required: [name, scope, frequency]
                  properties:
                    name:
                      type: string
                      minLength: 1
                    description:
                      type: string
                    scope:
                      $ref: '#/components/schemas/CampaignScope'
                    frequency:
                      type: string
                      enum: [weekly, monthly, quarterly, yearly]
                    dayOfWeek:
                      type: integer
                      minimum: 0
                      maximum: 6
                    dayOfMonth:
                      type: integer
                      minimum: 1
                      maximum: 31
                    time:
                      type: string
                      default: "09:00"
                    reviewPeriodDays:
                      type: integer
                      default: 14
                    autoExecute:
                      type: boolean
                      default: false
                    sendReportToOwners:
                      type: boolean
                      default: true
                    adminEmails:
                      type: array
                      items:
                        type: string
                        format: email
      responses:
        '200':
          description: Schedule created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleResponse'

  /trpc/accessReview.updateSchedule:
    post:
      tags: [Access Review - Schedules]
      summary: Update a schedule
      operationId: updateSchedule
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                json:
                  type: object
                  required: [id]
                  properties:
                    id:
                      type: string
                      format: uuid
                    name:
                      type: string
                    description:
                      type: string
                    enabled:
                      type: boolean
                    scope:
                      $ref: '#/components/schemas/CampaignScope'
                    frequency:
                      type: string
                      enum: [weekly, monthly, quarterly, yearly]
                    dayOfWeek:
                      type: integer
                    dayOfMonth:
                      type: integer
                    time:
                      type: string
                    reviewPeriodDays:
                      type: integer
                    autoExecute:
                      type: boolean
                    sendReportToOwners:
                      type: boolean
                    adminEmails:
                      type: array
                      items:
                        type: string
                        format: email
      responses:
        '200':
          description: Schedule updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleResponse'

  /trpc/accessReview.deleteSchedule:
    post:
      tags: [Access Review - Schedules]
      summary: Delete a schedule
      operationId: deleteSchedule
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                json:
                  type: object
                  required: [id]
                  properties:
                    id:
                      type: string
                      format: uuid
      responses:
        '200':
          description: Schedule deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /trpc/accessReview.runSchedule:
    post:
      tags: [Access Review - Schedules]
      summary: Manually run a schedule
      description: Creates a new campaign from the schedule immediately
      operationId: runSchedule
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                json:
                  type: object
                  required: [id]
                  properties:
                    id:
                      type: string
                      format: uuid
      responses:
        '200':
          description: Schedule executed
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    properties:
                      data:
                        type: object
                        properties:
                          json:
                            type: object
                            properties:
                              campaign:
                                $ref: '#/components/schemas/Campaign'

  # ==================== Access Review - Owners ====================
  /trpc/accessReview.listDesignatedOwners:
    post:
      tags: [Access Review - Owners]
      summary: List designated owners
      operationId: listDesignatedOwners
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                json:
                  type: object
                  properties:
                    siteUrl:
                      type: string
                    page:
                      type: integer
                      default: 1
                    limit:
                      type: integer
                      default: 50
      responses:
        '200':
          description: List of designated owners
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OwnerListResponse'

  /trpc/accessReview.createDesignatedOwner:
    post:
      tags: [Access Review - Owners]
      summary: Create a designated owner
      operationId: createDesignatedOwner
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                json:
                  type: object
                  required: [siteUrl, ownerEmail]
                  properties:
                    siteUrl:
                      type: string
                    ownerEmail:
                      type: string
                      format: email
                    ownerName:
                      type: string
                    ownerType:
                      type: string
                      enum: [primary, backup, delegate]
                      default: primary
                    notes:
                      type: string
      responses:
        '200':
          description: Owner created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OwnerResponse'

  /trpc/accessReview.deleteDesignatedOwner:
    post:
      tags: [Access Review - Owners]
      summary: Delete a designated owner
      operationId: deleteDesignatedOwner
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                json:
                  type: object
                  required: [id]
                  properties:
                    id:
                      type: string
                      format: uuid
      responses:
        '200':
          description: Owner deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  # ==================== Access Review - Notifications ====================
  /trpc/accessReview.listNotifications:
    post:
      tags: [Access Review - Notifications]
      summary: List notifications
      operationId: listNotifications
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                json:
                  type: object
                  properties:
                    unreadOnly:
                      type: boolean
                      default: false
                    campaignId:
                      type: string
                      format: uuid
                    page:
                      type: integer
                      default: 1
                    limit:
                      type: integer
                      default: 50
      responses:
        '200':
          description: List of notifications
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationListResponse'

  /trpc/accessReview.markNotificationRead:
    post:
      tags: [Access Review - Notifications]
      summary: Mark notification as read
      operationId: markNotificationRead
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                json:
                  type: object
                  required: [id]
                  properties:
                    id:
                      type: string
                      format: uuid
      responses:
        '200':
          description: Notification marked as read
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationResponse'

  /trpc/accessReview.markAllNotificationsRead:
    post:
      tags: [Access Review - Notifications]
      summary: Mark all notifications as read
      operationId: markAllNotificationsRead
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                json:
                  type: object
      responses:
        '200':
          description: All notifications marked as read
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  # ==================== Access Review - Scheduler ====================
  /trpc/accessReview.triggerScheduler:
    post:
      tags: [Access Review - Scheduler]
      summary: Manually trigger the scheduler
      description: |
        Manually triggers the background scheduler to run immediately.

        **Actions:**
        - `all` (default) - Run full scheduler (due schedules, reminders, overdue)
        - `due_schedules` - Only check and create campaigns from due schedules
        - `reminders` - Only send reminder notifications
        - `overdue` - Only process overdue campaigns
      operationId: triggerScheduler
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                json:
                  type: object
                  properties:
                    action:
                      type: string
                      enum: [all, due_schedules, reminders, overdue]
                      default: all
      responses:
        '200':
          description: Scheduler triggered
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    properties:
                      data:
                        type: object
                        properties:
                          json:
                            type: object
                            properties:
                              success:
                                type: boolean
                              message:
                                type: string

  # ==================== Health Check ====================
  /health:
    get:
      tags: [Health]
      summary: Health check
      description: Returns API health status
      security: []
      responses:
        '200':
          description: API is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
                  timestamp:
                    type: string
                    format: date-time

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        Azure AD access token. Obtain via ROPC flow:
        ```bash
        curl -X POST "https://login.microsoftonline.com/{tenant}/oauth2/v2.0/token" \
          -d "client_id={client_id}" \
          -d "scope=api://{client_id}/.default" \
          -d "username={email}" \
          -d "password={password}" \
          -d "grant_type=password"
        ```

  schemas:
    CampaignScope:
      type: object
      required: [siteUrls]
      properties:
        siteUrls:
          type: array
          items:
            type: string
        includeDrives:
          type: boolean
          default: true
        includeSubfolders:
          type: boolean
          default: true
        maxDepth:
          type: integer
          default: 3

    Campaign:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
          nullable: true
        status:
          type: string
          enum: [draft, collecting, in_review, completed, cancelled]
        scope:
          $ref: '#/components/schemas/CampaignScope'
        dueDate:
          type: string
          format: date-time
          nullable: true
        totalItems:
          type: integer
        reviewedItems:
          type: integer
        retainedItems:
          type: integer
        removedItems:
          type: integer
        createdAt:
          type: string
          format: date-time
        startDate:
          type: string
          format: date-time
          nullable: true
        completedAt:
          type: string
          format: date-time
          nullable: true
        createdBy:
          $ref: '#/components/schemas/UserSummary'

    UserSummary:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          nullable: true
        email:
          type: string
          format: email

    ReviewItem:
      type: object
      properties:
        id:
          type: string
          format: uuid
        campaignId:
          type: string
          format: uuid
        resourceType:
          type: string
        resourceId:
          type: string
        resourceName:
          type: string
        resourcePath:
          type: string
        siteUrl:
          type: string
        permissionId:
          type: string
        permissionType:
          type: string
        grantedTo:
          type: string
          nullable: true
        grantedToId:
          type: string
          nullable: true
        grantedToType:
          type: string
          nullable: true
        accessLevel:
          type: string
        decision:
          $ref: '#/components/schemas/Decision'

    Decision:
      type: object
      nullable: true
      properties:
        id:
          type: string
          format: uuid
        decision:
          type: string
          enum: [retain, remove]
        justification:
          type: string
          nullable: true
        decidedAt:
          type: string
          format: date-time
        executionStatus:
          type: string
          enum: [pending, completed, failed]
        reviewer:
          $ref: '#/components/schemas/UserSummary'

    Schedule:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
          nullable: true
        enabled:
          type: boolean
        scope:
          $ref: '#/components/schemas/CampaignScope'
        frequency:
          type: string
          enum: [weekly, monthly, quarterly, yearly]
        dayOfWeek:
          type: integer
          nullable: true
        dayOfMonth:
          type: integer
          nullable: true
        time:
          type: string
        reviewPeriodDays:
          type: integer
        autoExecute:
          type: boolean
        nextRunAt:
          type: string
          format: date-time
          nullable: true
        lastRunAt:
          type: string
          format: date-time
          nullable: true
        createdAt:
          type: string
          format: date-time

    DesignatedOwner:
      type: object
      properties:
        id:
          type: string
          format: uuid
        siteUrl:
          type: string
        ownerEmail:
          type: string
          format: email
        ownerName:
          type: string
          nullable: true
        ownerType:
          type: string
          enum: [primary, backup, delegate]
        notes:
          type: string
          nullable: true
        isActive:
          type: boolean
        createdAt:
          type: string
          format: date-time

    Notification:
      type: object
      properties:
        id:
          type: string
          format: uuid
        userId:
          type: string
          format: uuid
        campaignId:
          type: string
          format: uuid
          nullable: true
        type:
          type: string
          enum: [campaign_started, campaign_due_soon, campaign_overdue, review_assigned, execution_complete, schedule_triggered]
        title:
          type: string
        message:
          type: string
        readAt:
          type: string
          format: date-time
          nullable: true
        createdAt:
          type: string
          format: date-time
        campaign:
          type: object
          nullable: true
          properties:
            id:
              type: string
            name:
              type: string
            status:
              type: string

    Pagination:
      type: object
      properties:
        total:
          type: integer
        page:
          type: integer
        totalPages:
          type: integer

    SuccessResponse:
      type: object
      properties:
        result:
          type: object
          properties:
            data:
              type: object
              properties:
                json:
                  type: object
                  properties:
                    success:
                      type: boolean

    BulkResultResponse:
      type: object
      properties:
        result:
          type: object
          properties:
            data:
              type: object
              properties:
                json:
                  type: object
                  properties:
                    results:
                      type: object
                      properties:
                        success:
                          type: integer
                        failed:
                          type: integer

    CampaignResponse:
      type: object
      properties:
        result:
          type: object
          properties:
            data:
              type: object
              properties:
                json:
                  $ref: '#/components/schemas/Campaign'

    CampaignListResponse:
      type: object
      properties:
        result:
          type: object
          properties:
            data:
              type: object
              properties:
                json:
                  type: object
                  properties:
                    campaigns:
                      type: array
                      items:
                        $ref: '#/components/schemas/Campaign'
                    pagination:
                      $ref: '#/components/schemas/Pagination'

    CampaignStatsResponse:
      type: object
      properties:
        result:
          type: object
          properties:
            data:
              type: object
              properties:
                json:
                  type: object
                  properties:
                    campaign:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                        status:
                          type: string
                        dueDate:
                          type: string
                          nullable: true
                    summary:
                      type: object
                      properties:
                        totalItems:
                          type: integer
                        itemsWithDecisions:
                          type: integer
                        itemsNeedingReview:
                          type: integer
                        reviewProgress:
                          type: integer
                        retainDecisions:
                          type: integer
                        removeDecisions:
                          type: integer
                        executedRemovals:
                          type: integer
                        failedRemovals:
                          type: integer
                        pendingRemovals:
                          type: integer
                    breakdown:
                      type: object
                      properties:
                        byResourceType:
                          type: array
                          items:
                            type: object
                            properties:
                              type:
                                type: string
                              count:
                                type: integer
                        byGrantedToType:
                          type: array
                          items:
                            type: object
                            properties:
                              type:
                                type: string
                              count:
                                type: integer

    CampaignReportResponse:
      type: object
      properties:
        result:
          type: object
          properties:
            data:
              type: object
              properties:
                json:
                  type: object
                  properties:
                    campaign:
                      $ref: '#/components/schemas/Campaign'
                    summary:
                      type: object
                      properties:
                        totalItems:
                          type: integer
                        retainCount:
                          type: integer
                        removeCount:
                          type: integer
                        pendingCount:
                          type: integer
                        executedCount:
                          type: integer
                        failedCount:
                          type: integer
                        reviewProgress:
                          type: integer
                    breakdown:
                      type: object
                    items:
                      type: array
                      items:
                        type: object

    ItemResponse:
      type: object
      properties:
        result:
          type: object
          properties:
            data:
              type: object
              properties:
                json:
                  $ref: '#/components/schemas/ReviewItem'

    ItemListResponse:
      type: object
      properties:
        result:
          type: object
          properties:
            data:
              type: object
              properties:
                json:
                  type: object
                  properties:
                    items:
                      type: array
                      items:
                        $ref: '#/components/schemas/ReviewItem'
                    pagination:
                      $ref: '#/components/schemas/Pagination'

    DecisionResponse:
      type: object
      properties:
        result:
          type: object
          properties:
            data:
              type: object
              properties:
                json:
                  $ref: '#/components/schemas/Decision'

    ScheduleResponse:
      type: object
      properties:
        result:
          type: object
          properties:
            data:
              type: object
              properties:
                json:
                  $ref: '#/components/schemas/Schedule'

    ScheduleListResponse:
      type: object
      properties:
        result:
          type: object
          properties:
            data:
              type: object
              properties:
                json:
                  type: object
                  properties:
                    schedules:
                      type: array
                      items:
                        $ref: '#/components/schemas/Schedule'

    OwnerResponse:
      type: object
      properties:
        result:
          type: object
          properties:
            data:
              type: object
              properties:
                json:
                  $ref: '#/components/schemas/DesignatedOwner'

    OwnerListResponse:
      type: object
      properties:
        result:
          type: object
          properties:
            data:
              type: object
              properties:
                json:
                  type: object
                  properties:
                    owners:
                      type: array
                      items:
                        $ref: '#/components/schemas/DesignatedOwner'
                    pagination:
                      $ref: '#/components/schemas/Pagination'

    NotificationResponse:
      type: object
      properties:
        result:
          type: object
          properties:
            data:
              type: object
              properties:
                json:
                  $ref: '#/components/schemas/Notification'

    NotificationListResponse:
      type: object
      properties:
        result:
          type: object
          properties:
            data:
              type: object
              properties:
                json:
                  type: object
                  properties:
                    notifications:
                      type: array
                      items:
                        $ref: '#/components/schemas/Notification'
                    unreadCount:
                      type: integer
                    pagination:
                      $ref: '#/components/schemas/Pagination'
